@charset "utf-8";
@font-face {font-family: 'HelveticaNeueLTStd-LtEx';src: url('../fonts/HelveticaNeueLTStd-LtEx.otf');font-weight: normal;font-style: normal;}

html,body{height: 100%;}
ul,ol,li{ margin:0; padding:0; list-style:none;}
a{color: #000;}
a:hover{color: #004fa3;}

.am-sticky-placeholder{width: 100%; position:absolute;z-index: 9999;}
header{width: 100%;min-width: 1000px; height: 120px;position: fixed;left: 0;top: 0;transition: all .3s;z-index: 9999;background: #005de5;}
header.am-sticky{height: 80px; background:#005de5;box-shadow: 0 0 10px rgba(0,0,0,.5);}
.logo{width: 365px;height: 46px;position: absolute;left: 2%;top:37px;background: url("../images/logo.png") no-repeat;transition: all .3s;}
.logo a{display: block;height: 46px;text-indent: -9999px;overflow: hidden;}
header.am-sticky .logo{top: 17px;}

nav.nav_header{width: 680px; height: 120px;position: absolute;right: 300px;top: 0;transition: all .3s;}
.am-menu-offcanvas1 .am-menu-toggle{ display:none;}
nav.nav_header .am-offcanvas-bar ul li{width: 12.5%; height:120px;float:left;font-size:16px;transition: all .3s;}
nav.nav_header .am-offcanvas-bar ul li a{ display:block; height:120px; line-height:120px;color: #FFF;text-align: center;transition: all .3s;background: rgba(255,255,255,0);}
nav.nav_header .am-offcanvas-bar ul li a:hover{background: rgba(255,255,255,.2);}
nav.nav_header .am-offcanvas-bar ul li.current a{background: rgba(255,255,255,1);color: #000;}
.am-offcanvas{ display:block; background:none; position:static;}
.am-offcanvas-bar{ position:static; width:100%; height:28px; background:none; overflow-y:visible; transform:translateX(0);}
.am-offcanvas-bar:after{ display:none;}
header.am-sticky nav.nav_header{height: 80px;}
header.am-sticky nav.nav_header .am-offcanvas-bar ul li{height:80px;}
header.am-sticky nav.nav_header .am-offcanvas-bar ul li a{height:80px; line-height:80px;}

.tel{width: 200px;height: 48px;padding: 7px 0 0 44px;border-radius: 24px;background: #FFF; position: absolute;right: 1%;top: 36px;transition: all .3s;}
.tel ul li{height: 19px;line-height: 19px;font-family:Arial;font-size: 18px;}
.tel:before{display: block;width: 48px;height: 48px;line-height: 48px;text-align: center;position: absolute;left: 0;top: 0;content: "\f095";font-size: 30px;font-family: 'FontAwesome';}
header.am-sticky .tel{top: 16px;}

.product_category{width: 100%;min-width: 1000px; height: 200px;}
.product_category ul{font-size: 0;}
.product_category ul li{display: inline-block;width:16.66666666666667%;height: 200px;vertical-align: top;}
.product_category ul li a{display: block;height: 200px;padding: 40px 0 0; background-color: #d2cec7; background-image:linear-gradient(-60deg,rgba(255,255,255,0),rgba(255,255,255,.5));color: #454545;transition: all .3s;text-align: center;}
.product_category ul li a:hover{background-color: #005de5; color: #FFF;}
.product_category ul li a:before{display: block;font-size: 60px;line-height: 60px;font-family: 'HelveticaNeueLTStd-LtEx';}
.product_category ul li:nth-child(1) a:before{content: "01";}
.product_category ul li:nth-child(2) a:before{content: "02";}
.product_category ul li:nth-child(3) a:before{content: "03";}
.product_category ul li:nth-child(4) a:before{content: "04";}
.product_category ul li:nth-child(5) a:before{content: "05";}
.product_category ul li:nth-child(6) a:before{content: "06";}
.product_category ul li a strong{display: block;line-height: 40px; font-size: 30px;font-weight: normal;}
.product_category ul li a span{display: block;line-height: 30px;font-size: 16px;font-family: 'HelveticaNeueLTStd-LtEx';}

.slider{width: 100%;min-width: 1000px; margin: 120px 0 0;}
.slider .am-slides li{height: 620px;background: center center repeat-x;background-size:auto 100%;position: relative;z-index: 9999;transition: all .3s;}
.slider .am-slides li:hover{background-size:auto 110%;}
.slider .am-slides li.slider_1{background-image: url(../images/slider_1.jpg);}
.slider .am-slides li.slider_2{background-image: url(../images/slider_2.jpg);}
.slider .am-slides li.slider_3{background-image: url(../images/slider_3.jpg);}

.slider .am-control-nav{ display:block; width:100%; position:absolute; left:0; bottom:20px; text-align:center;}
.slider .am-control-nav li{ width:2px; height:30px; margin:0 20px;position: relative;}
.slider .am-control-nav li a{ display:block; width:2px; height:15px; text-indent:-9999px;background: #FFF;position: absolute;bottom: 0;transition: all .3s;}
.slider .am-control-nav li a.am-active{height: 30px;margin: 0; background:#005de5;}
.slider .am-control-nav li a.am-active:before{display: block;width: 20px;height: 20px;line-height: 20px;text-align: center;font-size: 18px;position: absolute;left: -9px;top: -25px;color: #005de5;text-indent: 0;}
.slider .am-control-nav li:nth-child(1) a.am-active:before{content:"01";}
.slider .am-control-nav li:nth-child(2) a.am-active:before{content:"02";}
.slider .am-control-nav li:nth-child(3) a.am-active:before{content:"03";}


.box_1{width: 90%;min-width: 1000px;max-width: 1600px;margin: 0 auto;padding: 100px 0 60px;}
.box_1 .bhead{height: 40px;}
.box_1 .bhead strong{height: 40px;line-height: 40px;font-size: 36px;color: #005de5; float: left;}
.box_1 .bhead span{line-height: 20px;padding: 20px 0 0 10px;float: left;font-family: 'HelveticaNeueLTStd-LtEx';color: #868686;}
.box_1 .bhead em{padding: 16px 0 0 10px;float: left;font-style: normal;}
.box_1 .bhead em a{display: block;width: 100px;height: 24px;line-height: 24px;border-radius: 12px;background:#005de5;color: #FFF;text-align: center;font-size: 14px;font-weight: bold;}
.box_1 .bhead em a:after{content: " \f0da";}
.box_1 .bbody{padding: 40px 0 0;}
.product .bbody{margin: 0 -20px;}
.product .bbody ul{font-size: 0;}
.product .bbody ul li{display: inline-block;vertical-align: top;width: 16.66666666666667%;padding: 0 20px;}
.product .bbody ul li img{width: 100%;border-radius: 20px; height: auto;transition: all .3s;}
.product .bbody ul li:hover img{box-shadow: 0 10px 10px rgba(0,0,0,.4);}
.product .bbody ul li figure{transition: all .3s;position: relative;top: 0;}
.product .bbody ul li:hover figure{top: -5px; transform: scale(1.05,1.05);}
.product .bbody ul li figure figcaption{display: block;margin: 20px 0 0;border-radius: 10px; text-align: center;padding: 10px;line-height: 20px;background: #f7f7f7;font-size: 14px;transition: all .3s;}
.product .bbody ul li figure figcaption{transition: all .3s;}
.product .bbody ul li:hover figure figcaption{background: #005de5;color: #FFF;box-shadow: 0 10px 10px rgba(0,0,0,.4);}
.product .bbody ul li:hover figure figcaption a{color: #FFF;}

.box_about{width: 100%;height: 640px;background: url("../images/bg_about.jpg") center center repeat;position: relative;}
.box_about .box_2{width: 720px;height: 350px;padding: 40px 0 0; border-radius: 20px;box-shadow: 0 10px 20px rgba(0,0,0,.4);position:absolute;left: 50%;top: 50px;margin: 0 0 0 -360px;background: #005de5;color: #FFF;}
.box_about .box_2 .bhead{height: 50px;line-height:50px;font-size: 46px;text-align: center;}
.box_about .box_2 .bhead strong{font-weight: normal;}
.box_about .box_2 .bbody{padding: 40px 40px 0;}
.box_about .box_2 .bmore{width: 200px;height: 40px;margin: 20px auto 0;}
.box_about .box_2 .bmore a{display: block;height: 40px;line-height: 40px;border-radius: 20px; text-align: center;background: #FFF;}

.news .bbody ul{font-size: 0;}
.news .bbody ul li{display: inline-block;width: 50%;vertical-align: top;font-size: 16px;}
.news .bbody ul li:nth-of-type(2n){padding: 0 0 0 20px;}
.news .bbody ul li:nth-of-type(2n+1){padding: 0 20px 0 0;}
.news .bbody ul li dl{width: 100%;height: 160px;padding:30px 160px 0; border-radius: 20px;color: #939393;background: #f7f7f7;position: relative;top: 0; transition: all .3s;}
.news .bbody ul li dl dt{line-height: 20px;font-weight: normal;}
.news .bbody ul li dl dt a{transition: all .3s;}
.news .bbody ul li dl dd{font-size: 12px;}
.news .bbody ul li dl dd.date{width: 160px;height: 160px;padding: 30px 0 0; text-align: center;font-family: 'HelveticaNeueLTStd-LtEx';position: absolute;left: 0;top: 0;}
.news .bbody ul li dl dd.date strong{display: block;font-weight: normal;line-height: 60px;font-size: 56px;}
.news .bbody ul li dl dd.date span{display: block;line-height: 30px;font-size: 18px;}
.news .bbody ul li dl dd.more{width: 160px;height: 160px;position: absolute;right: 0;top: 0;}
.news .bbody ul li dl dd.more a{display: block;height: 160px;position: relative;text-indent: -9999px;color: #939393;}
.news .bbody ul li dl dd.more a:before{display: block;width: 160px;height: 160px;line-height: 140px;text-align: center;content: "+";font-size: 80px;position: absolute;left: 0;top: 0;text-indent: 0;transition: all .3s;}
.news .bbody ul li:hover dl{transform: scale(1.02,1.02);top: -5px; box-shadow: 0 10px 10px rgba(0,0,0,.5); background: #005de5;color: #FFF;}
.news .bbody ul li:hover dl dt a{color: #FFF;}
.news .bbody ul li:hover dl dd.more a{color: #FFF;}

.box_map{width: 100%;min-width: 1000px;height: 500px;position: relative;}
.box_map iframe{width: 100%;height: 100%;}
.box_contact{width: 480px;height: 300px;padding: 60px 40px 0; border-radius: 20px;box-shadow: 0 10px 20px rgba(0,0,0,.4);position:absolute;right: 5%;top: 50%;margin: -150px 0 0;background: #005de5;color: #FFF;}
.box_contact dl dt{line-height: 40px;font-size: 30px;}
.box_contact .more{width: 120px;height: 120px;position: absolute;right: 0;bottom: 0;}
.box_contact .more a{display: block;height: 120px;position: relative;text-indent: -9999px;color: #FFF;}
.box_contact .more a:before{display: block;width: 120px;height: 120px;line-height: 100px;text-align: center;content: "+";font-size: 80px;position: absolute;left: 0;top: 0;text-indent: 0;transition: all .3s;}



footer{line-height: 30px;padding: 60px 0; text-align: center;font-size: 14px;background: #005de5;color: #FFF;}
footer a{color: #FFF;}

.banner{ width: 100%; height:180px;margin: 120px 0 0; background: url(../images/banner.jpg) center center no-repeat;}
.banner_1{}
.main{width: 100%;max-width: 1200px; margin: 0 auto;position: relative;}
.main:after{content: "";display: block;width: 0;height: 0;clear: both;}
.position{height: 30px;line-height: 30px;margin: 20px 0 0; color: #999;}
.position a{color: #999;}
.page_main{min-height: 600px;}
.ml{width: 200px;min-height: 400px;position: absolute;left: 0;top: 60px;}
.ml .category{width: 100%;min-height: 400px;background: #F5F5F5;}
.ml .category .catname{height: 80px;background: #005de5;color: #FFF;}
.ml .category .catname strong{display: block;height: 80px;line-height: 80px;text-align: center;font-weight: normal;font-size: 36px;}
.ml .category .subcat{padding: 10px 20px 20px;background: #F5F5F5;}
.ml .category .subcat ul li{height: 50px;margin: 10px 0 0;}
.ml .category .subcat ul li a{display: block;height: 50px;line-height: 50px;text-align: center;background: rgba(0,0,0,.3);color: #FFF;transition: all .3s;}
.ml .category .subcat ul li.current a{background: #005de5;color: #FFF;}
.ml .category .subcat ul li a:hover{background:rgba(0,94,183,.3);color: #FFF;}
.ml .category .subcat dl{margin: 10px 0 0;}
.ml .category .subcat dl dt{height: 50px;margin: 20px 0 0;}
.ml .category .subcat dl dt a{display: block;height: 50px;line-height: 50px;text-align: center;background: rgba(0,0,0,.3);color: #FFF;transition: all .3s;}
.ml .category .subcat dl.current dt a{background: #005de5;color: #FFF;}
.ml .category .subcat dl dt a:hover{background: rgba(182,0,5,.3);color: #FFF;}
.ml .category .subcat dl dd{height: 30px;margin: 10px 0 0;}
.ml .category .subcat dl dd a{display: block;height: 30px;line-height: 30px;text-align: center;}


.mr{margin: 20px 0 0;padding: 0 0 0 240px;}
.page_title{margin: 20px 0 0;height: 40px;line-height: 40px;border-bottom: 3px solid #005de5;color: #005de5;}
.page_title strong{font-weight: normal;font-size: 18px;}

.list_article{ padding:20px;}
.list_article dl{ padding:20px 0; border-bottom:1px solid #f2f2f2; overflow:hidden;}
.list_article dl dd.dl_img{ width:240px;margin:0 40px 0 0; float:left;}
.list_article dl dd.dl_img img{ width:100%; height:auto;border: 1px solid #C3C3C3;}
.list_article dl dt{ line-height:24px; margin:0; padding:7px 0; font-weight:normal;}
.list_article dl dt a{ font-size:16px;}
.list_article dl dt em{ padding:0 0 0 20px; font-size:12px; font-style:normal; color:#D4D4D4;}
.list_article dl dd.dl_txt{ font-size:14px; color:#c3c3c3;}

.list_single{ padding: 40px; line-height: 2em;text-align: justify;}
.list_single p{ text-indent: 2em;}
.list_single p img{margin: 0 0 0 -2em;}
.list_single img{ max-width: 100% !important; height: auto !important;}
.list_single iframe{width: 100%;height: 500px;}
.list_single .video-js{height: 400px;}


.list_img{ overflow:hidden;}
.list_img ul{font-size: 0;}
.list_img ul li{display: inline-block;vertical-align: top;width:33.33333333%; padding:30px 10px 10px;font-size: 16px;}
.list_img ul li img{ width:100%; height:auto;}
.list_img ul li span{ display:block; line-height:18px;margin: 10px 0 0; text-align:center;}


.list_product{padding: 40px 0 0;}
.list_product:after{display: block;content: "";clear: both;}
.list_product ul{font-size: 0;}
.list_product ul li{display: inline-block;vertical-align: top;width: 33.33333333333%;padding: 0 20px 40px;font-size: 16px;}
.list_product ul li:nth-of-type(3n+1){padding: 0 40px 40px 0;}
.list_product ul li:nth-of-type(3n){padding: 0 0 40px 40px;}
.list_product ul li img{width: 100%;height: auto;}
.list_product ul li figure{margin: 0;padding: 0 0 10px; transition: all .3s;background: #fdfdfd;}
.list_product ul li figure:hover{transform: scale(1.1,1.1);box-shadow: 0 0 20px rgba(0,0,0,.3);background: #005de5;}
.list_product ul li figure figcaption{max-height: 48px; line-height: 24px;overflow: hidden;margin: 5px 0 0; padding: 0 10px; text-align: center;}
.list_product ul li figure figcaption a{color: #000;transition: all .3s;}
.list_product ul li figure:hover figcaption a{color: #FFF;}
.list_product ul li figure span{display: block;height: 54px;line-height: 18px;overflow: hidden;margin: 5px 0; padding: 0 10px;font-size: 12px;color: #adadad;transition: all .3s;}
.list_product ul li figure:hover span{color: #FFF;}

.article_article{ padding:20px;}
.article_article h1{ line-height:32px; padding:10px 0; text-align:center; font-size:20px;}
.article_info{ line-height:24px; text-align:center; color:#A3A3A3; font-size:12px;}
.article_body{ line-height:2em; padding:20px 0 0;text-align: justify;}
.article_body p{ margin:10px 0 0; text-indent:2em;}
.article_body img{ max-width:100%; height:auto; margin:0 auto;}
.article_body p img{ margin:0 0 0 -2em;}
.pre_next{margin: 40px 0 0;padding: 0 20px;font-size: 0;}
.pre_next ol li{display: inline-block;width: 50%;font-size: 16px;}
.pre_next ol li.next{text-align: right;}






.icon_contact{ width:32px; height:32px; line-height:32px; position:fixed; right:10px; bottom:102px; z-index:1010; text-align:center; background:#555; color:#ddd; opacity:.9; display:none; cursor:pointer;}
.icon_contact:hover{ opacity:1;}
.icon_contact:before{ content:"\f0e6"; font-family:FontAwesome; font-size:1.6rem;}
.box_contact_sidebar{ width:120px; background:rgba(85,85,85,.9); position:fixed; right:10px; bottom:102px;z-index: 9999;}
.box_contact_sidebar .bhead{ height:36px; padding:0 0 0 10px; background:#555; color:#A0A0A0; position:relative;}
.box_contact_sidebar .bhead strong{ line-height:36px; font-size:14px; float:left;}
.box_contact_sidebar .bbody{ padding:10px; color:#FFF; font-size:14px;}
.box_contact_sidebar .bbody img{ width: 100%; height: auto;}
.close-im{ width:36px; height:36px; float:right;}
.close-im a{ display:block; width:36px; height:36px; line-height:36px; text-align:center; color:#ABABAB;}
.close-im a:before{ content:"\f054"; font-family:FontAwesome; font-size:1.6rem;}
.am-navbar{ display:none;}
.am-with-fixed-navbar{ padding-bottom: 0;}

.pages{padding: 20px 0 60px;text-align: center;}
.pages ul{
	font-size: 0;
}
.pages ul li{
	display: inline-block;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
	font-size: 14px;
}
.pages ul li a{
	padding:5px 8px;
	color:#555;
	display:block;
}
.pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:5px 8px;
}
.pages ul li.thisclass,
.pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:5px 8px;
	font-weight:bold;
}
.pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}
.page_main:after{content: "";display: block;clear: both;}

/*
     FILE ARCHIVED ON 04:55:47 Sep 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:36:57 Jan 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 68.963
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.078
  cdx.remote: 0.07
  esindex: 0.011
  LoadShardBlock: 40.788 (3)
  PetaboxLoader3.datanode: 55.234 (4)
  CDXLines.iter: 16.568 (3)
  load_resource: 60.542
  PetaboxLoader3.resolve: 37.162
*/